<!DOCTYPE html>
<html>
    <head>
        <title>Testando</title>
    </head>
    <body>
        <h1>Adicionar nova tarefa</h1>
        <form action="/create" method="post">
            <input type="text" name="description" required>
            <button type="submit">Criar tarefa</button>
        </form>
        <h1>Estudando Flask</h1>
        <ul>
           {% for task in tasks %}
                <li>
                    {{ task.description }}
                    <form action="/update/{{ task.id}}" method="post" style="display: inline;">
                        <input type="text" name="description" value="{{ task.description }}">
                        <button type="submit">Atualizar</button>
                    </form>
                    <form action="/delete/{{ task.id }}" method="post" style="display: inline;">
                        <button type="submit">Excluir</button>
                    </form>
                </li>
           {% endfor %} 
        </ul>
    </body>
</html>